<!DOCTYPE html>
	<html>
	<head>
		<title>game-thing</title>
		<link rel="stylesheet" href="/stylesheets/style.css">
	</head>
	<body background="/images/page_background.jpg">
		<div class='header'>
			<h1>Untitled</h1>
		</div>

		<div class='loading-container'>
			<div class='loading'>
				<p>Loading...</p>
			</div>
			<div class='loader'>
			</div>		
		</div>
<!-- 		<img id="loader" src="/images/loader.gif"> -->
		<div id='wrapper' class='post-load' hidden='true'>
			<canvas id="canvas" width="960" height="640" style="border:1px solid #000000;">
			Your browser does not support the HTML5 canvas tag.
			</canvas>
			<div id='bottom'>
				<img id='mute' class='mute' src='/images/mute.png' onclick='toggleMute()'>
				<img id='unmute' class='mute' src='/images/unmute.png' onclick='toggleMute()'>
			</div>
			<!-- <ul id="messages"></ul>
		   	<form action="">
		      <input id="m" autocomplete="off" /><button>Send</button>
		    </form> -->
		    <div id='top'>
		    	<div id='FPS'>
		    		<span>FPS:</span> <span id='FPS-time'>0</span>
		    	</div>
			    <div id='respawn'>
			    	<span>Respawn in</span> <span id='respawn-time'>5</span>
			    </div>
			    <div id='objects'>
					<img id="lilblock" src="/images/block.png" width='25' height='25' onclick='selectImg(this)'>
					<img id="block" src="/images/block.png" width='50' height='50' onclick='selectImg(this)'>
					<img id="spike" class='spike' src="/images/spike.png" width='50' height='50' onclick='selectImg(this)'>
					<img id="box" src="/images/box.png" width='75' height='75' onclick='selectImg(this)'>
					<img id="bigbox" src="/images/box.png" width='100' height='100' onclick='selectImg(this)'>
				</div>
			</div>
		</div>
		<button class='friend post-load myButton' hidden>Make a friend</button>
		<button class='auto post-load myButton' hidden>Possess me</button>
		<br>
		<select class='levels post-load' hidden></select>
		<button class='load post-load myButton' hidden>Load</button>
		<span class='post-load' hidden>Level name:</span>
		<input class='level-name post-load' hidden>
		<button class='save post-load myButton' hidden>Save</button>
		<span class='saved' hidden>Saved!</span>
			<audio id='marine' class="audio" controls hidden='true'> 
  				<source src="sounds/marine.wav" type="audio/wav">
			</audio>
			<audio id='jump' class="audio" controls hidden='true'> 
  				<source src="sounds/jump.mp3" type="audio/mpeg">
			</audio>
			<audio id='doublejump' class="audio" controls hidden='true'> 
  				<source src="sounds/doublejump.mp3" type="audio/mpeg">
			</audio>
			<script src="/node_modules/spin/dist/spin.min.js"></script>
			<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	 		<script src="/bower_components/angular/angular.min.js"></script>
	 		<script src="socket.io/socket.io.js"></script>
			<script src="/javascripts/loader.js"></script>
			<script src="/javascripts/game.js"></script>
	</body>
</html>